name: "Load Testing API"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  load-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: uv sync

      # - name: Auth with GCP
      #   uses: google-github-actions/auth@v2
      #   with:
      #     credentials_json: ${{ secrets.GCP_SA_KEY }}

      # - name: Set up Cloud SDK
      #   uses: google-github-actions/setup-gcloud@v2

      # - name: Extract deployed api URL
      #   run: |
      #     DEPLOYED_API_URL=$(gcloud run services describe inference-api \
      #       --region=europe-west1 \
      #       --format='value(status.url)')
      #     echo "DEPLOYED_API_URL=$DEPLOYED_API_URL" >> $GITHUB_ENV

      # - name: Run load test on deployed api
      #   env:
      #     DEPLOYED_API_URL: ${{ env.DEPLOYED_API_URL }}
      #   run: |
      #     uv run locust -f tests/performancetests/locustfile.py \
      #       --headless -u 100 -r 10 --run-time 10m --host=$DEPLOYED_API_URL --csv=locust_results

      # - name: Upload locust results
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: locust-results
      #     path: locust_results*